@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Mariusz<br />
    Wiliński<br />
    <abbr title="Phone">P:</abbr>
    608 674 983
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wilinski.mariusz@gmail.com">wilinski.mariusz@gmail.com</a><br />
</address>